.card-body-signature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.signature-box {
    border: solid 1px black !important;
    width: 200px; /* Lebar setiap kotak tanda tangan */
    text-align: center; /* Pusatkan teks */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.signature-box img {
    width: 100%;
    max-width: 200px;
    height: auto;
}